:root{
--bg:#f4f6f9;
--text:#222;
--card:#fff;
--primary:#1e90ff;
}

.dark{
--bg:#121212;
--text:#fff;
--card:#1e1e1e;
}

body{
margin:0;
font-family:Arial;
background:var(--bg);
color:var(--text);
}

header{
background:var(--primary);
color:white;
padding:20px;
text-align:center;
}

nav{
display:flex;
justify-content:center;
flex-wrap:wrap;
background:#eee;
}

nav a{
margin:5px;
padding:10px 15px;
background:var(--primary);
color:white;
border-radius:8px;
text-decoration:none;
}

.container{padding:20px;}

.card{
background:var(--card);
padding:20px;
margin:15px 0;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.btn{
background:#27ae60;
color:white;
padding:12px;
border:none;
border-radius:8px;
width:100%;
margin-top:10px;
cursor:pointer;
}

input{
width:100%;
padding:10px;
margin:5px 0;
}

.toggle{
position:absolute;
right:20px;
top:20px;
background:black;
color:white;
padding:8px 12px;
cursor:pointer;
}
